@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  color: #fff;
  background-color: #000;
}

a.active {
  color: #fff;
}
a.noactive {
  color: #4d4d4d;

}
a.pending {
  animate: pulse 1s infinite;
}

a.transitioning {
  /* css transition is running */
}